body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.0;
    color: #434455;
    background-color: #FFFFFF;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    text-transform:uppercase;
  }
  .logo-span{
    font-size: 18px;
    line-height: 1.17;
    color: #2e2f42;
  
  }
  .list-nav{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
  }
  .list-link{
    color:  #2E2F42;
  }
.list-link:hover,
.list-link:focus {
color: #404bbf;
  
}
.list-address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.list-adress-link{
    color: #434455;
}
.list-adress-link:hover,
.list-adress-link:focus {
color:  #404bbf ;
}
.hero{
    color:#FFFFFF;
    background-color: #2E2F42;
}
.hero-header1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align:center;
}
.hero-button{
    color:#FFFFFF;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;

}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

.hero-header1:hover,
.hero-header1:focus {
text-decoration: underline;
text-decoration-color: #4d5ae5;
}

.list-section2{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-section2-h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text{
  color: #434455;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section3{
background-color: #F4F4FD;
}

.list-li{
  background-color: #FFFFFF;
}

.header2 {
  color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.logo-footer{
  font-family: 'Raleway'sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform:uppercase

}
.footer{
  background-color: #2E2F42;
  color: #F4F4FD;

}
h2:hover,
h2:focus {
text-decoration: underline;
text-decoration-color: #4d5ae5;
}
 
.logo-span1{
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;

}